<div>
	<%= render 'errors' %>

	<form method="post" action="/users/<%= current_user.id %>/snippets/<%= @snippet.id %>/comments">
		<textarea id="comment-field" name="comment[body]"></textarea>
		<input class="create-button" type="submit" value="comment">
	</form>
</div>