<div>
	<%= render 'errors' %>

	<form method="post" action="/users/<%= current_user.id %>/snippets/<%= @snippet.id %>/comments">
		<textarea name="comment[body]"></textarea>
		<input type="submit" value="comment">
	</form>
</div>