<%= render 'errors' %>

<form id="snippet-form" method="post" action="/users/<%= current_user.id %>/snippets">
	<label for="title">title:</label>
	<input id="title" type="text" name="snippet[title]">

	<label for="description">description:</label>
	<input id="description" type="text" name="snippet[description]">
	<br>
	<br>
	<label for="category">category:</label>
	<select id="category" name="snippet[category]">
	  <option value="list">list</option>
	  <option value="form">form</option>
	  <option value="button">button</option>
	  <option value="container">container</option>
	  <option value="navbar">navbar</option>
	</select>

	<div class="textarea">
	<textarea id="html" type="text" name="snippet[html]" placeholder="html"></textarea>
	<textarea id="css" type="text" name="snippet[css]" placeholder="css"></textarea>
	</div>
	<input class="create-button" type="submit" value="save">
</form>