<div id="about">
	<h2 class="quote">minimalist's purpose—to display simple code snippets for clean design. minimalist aspires to inspire others to create fresh yet simplistic designs</h2>
</div>

<footer>copyright ⓒ2016 | kevin perkins</footer>