// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-nav {
	float: right;
}

#user-title {
	height: 100px;
}

#user-greeting {
	font-size: 50px;
	text-align: center;
}

#user-edit {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: solid 0.25px lightgray;
}

#user-form {
	text-align: center;
}